In [65]:
import pandas as pd
import numpy as np
import statistics as stats
from typing import List

data = pd.read_csv('https://raw.githubusercontent.com/imamkoo/TK2-Data_Science-/main/TK2.csv')
data

   No  Ukuran  Lantai  tarifInternet tipeBangunan  hargaSewa
0   1     510       4              8            C        320
1   2     550       7             50            A        385
2   3     620       9              7            C        400
3   4     630       5             24            B        392
4   5     655       8            100            A        380
5   6     700       4              8            C        480
6   7     780      10              7            C        480
7   8     800      12             50            A        600
8   9     920      14              8            C        570
9  10    1000       9             24            B        620

In [66]:
ukuran = data["Ukuran"].to_numpy()
tarifinternet = data["tarifInternet"].to_numpy()
hargasewa = data["hargaSewa"].to_numpy()

print("ukuran :", ukuran)
print("tarif internet :", tarifinternet)
print("harga sewa :", hargasewa)

ukuran : [ 510  550  620  630  655  700  780  800  920 1000]
tarif internet : [  8  50   7  24 100   8   7  50   8  24]
harga sewa : [320 385 400 392 380 480 480 600 570 620]

In [67]:
def mean(data: List[float]) -> float:
 return sum(data) / len(data)

def _median_odd(data: List[float]) -> float:
 return sorted(data)[len(data) // 2]

def _median_even(data: List[float]) -> float:
 sorted_data = sorted(data)
 hi_midpoint = len(data) // 2
 return (sorted_data[hi_midpoint - 1] + sorted_data[hi_midpoint]) / 2

def modus(data: List[float]) -> float:
 return stats.multimode(data)

In [68]:
print("UKURAN")

print("Mean :",mean(ukuran))

if len(data) % 2 == 0:
    print("Median_even :",_median_even(ukuran))
else:
    print("Median_odd :",_median_odd(ukuran))
        
if len(modus(ukuran)) == len(ukuran):
    print("Modus :", modus(ukuran))
    print("TIdak ada modus karena semua datanya adalah modus")
else:
    print("Modus :", modus(ukuran))

UKURAN
Mean : 716.5
Median_even : 677.5
Modus : [510, 550, 620, 630, 655, 700, 780, 800, 920, 1000]
TIdak ada modus karena semua datanya adalah modus

In [69]:
print("TARIF INTERNET")

print("Mean :",mean(tarifinternet))

if len(data) % 2 == 0:
    print("Median_even :",_median_even(tarifinternet))
else:
    print("Median_odd :",_median_odd(tarifinternet))
        
if len(modus(tarifinternet)) == len(tarifinternet):
    print("Modus :", modus(tarifinternet))
    print("TIdak ada modus karena semua datanya adalah modus")
else:
    print("Modus :", modus(tarifinternet))

TARIF INTERNET
Mean : 28.6
Median_even : 16.0
Modus : [8]

In [70]:
print("HARGA SEWA")

print("Mean :",mean(hargasewa))

if len(data) % 2 == 0:
    print("Median_even :",_median_even(hargasewa))
else:
    print("Median_odd :",_median_odd(hargasewa))
        
if len(modus(hargasewa)) == len(hargasewa):
    print("Modus :", modus(hargasewa))
    print("TIdak ada modus karena semua datanya adalah modus")
else:
    print("Modus :", modus(hargasewa))

HARGA SEWA
Mean : 462.7
Median_even : 440.0
Modus : [480]