In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import statistics as stats
import numpy as np
from typing import List

data = pd.read_csv('https://raw.githubusercontent.com/imamkoo/TK2-Data_Science-/main/TK2.csv')
data

   No  Ukuran  Lantai  tarifInternet tipeBangunan  hargaSewa
0   1     510       4              8            C        320
1   2     550       7             50            A        385
2   3     620       9              7            C        400
3   4     630       5             24            B        392
4   5     655       8            100            A        380
5   6     700       4              8            C        480
6   7     780      10              7            C        480
7   8     800      12             50            A        600
8   9     920      14              8            C        570
9  10    1000       9             24            B        620

In [4]:
ukuran = data["Ukuran"].to_numpy()
ukuran

array([ 510,  550,  620,  630,  655,  700,  780,  800,  920, 1000])

In [10]:
def mean(data: List[float]) -> float:
 return sum(data) / len(data)

def _median_odd(data: List[float]) -> float:
 return sorted(data)[len(data) // 2]

def _median_even(data: List[float]) -> float:
 sorted_data = sorted(data)
 hi_midpoint = len(data) // 2
 return (sorted_data[hi_midpoint - 1] + sorted_data[hi_midpoint]) / 2

def mean(data: List[float]) -> float:
 return stats.multimode(data)

In [14]:
print("Mean :",mean(ukuran))

if len(data) % 2 == 0:
    print("Median_even :",_median_even(ukuran))
else:
    print("Median_odd :",_median_odd(ukuran))
    
print("Modus :", modus)

Mean : 716.5
Median_even : 677.5

In [21]:
num_friends = [100, 90, 85, 70, 61, 55, 50, 50, 49, 40, 31, 25, 20, 20]

In [22]:
num_friends

[100, 90, 85, 70, 61, 55, 50, 50, 49, 40, 31, 25, 20, 20]

In [25]:
from typing import List
def mean(xs: List[float]) -> float:
 return sum(xs) / len(xs)

def _median_odd(xs: List[float]) -> float:
 return sorted(xs)[len(xs) // 2]

def _median_even(xs: List[float]) -> float:
 sorted_xs = sorted(xs)
 hi_midpoint = len(xs) // 2
 return (sorted_xs[hi_midpoint - 1] + sorted_xs[hi_midpoint]) / 2

In [20]:
print("Mean :",mean(num_friends))
print("Median_odd :",_median_odd(num_friends))
print("Median_even :",_median_even(num_friends))

Mean : 60.6
Median_odd 61
Median_even : 58.0

In [33]:
modus = stats.multimode(num_friends)
print("Data ->", num_friends)
print("Modus ->", modus)

Data -> [100, 90, 85, 70, 61, 55, 50, 50, 49, 40, 31, 25, 20, 20]
Modus -> [50, 20]